.pokemon img {
 display: inline-block;
}

.pokemon div {
 display:inline-block;
}

.pokemon h4 {
 margin-left:20px;
}

.pokemon {
border-top:1px solid black;
}

h1 {
color: yellow;
text-align:center;
}