.pokemon img {
 display: inline-block;
}

.pokemon div {
 display:inline-block;
 background-color:red;
}

.pokemon h4 {
 margin-left:20px;
}

.pokemon {
border-top:1px solid black;
background-color:red;
}

h1 {
color: black;
text-align:center;
background-color:yellow;
margin:0px;
}

body {
    margin:0px;
}










